
        <!-- LOGN IN FORM by Pradip -->
        <form >
            <div class="con">
              <!--     Start  header Content  -->
              <header class="head-form">
                <img src="../assets/Images/nimaplogo.png"  />
                <!--     A welcome message or an explanation of the login form -->
                <p>Digital Transformation Done Right:Delivered On Time</p>
              </header>
        
              <div class="search">
                 
                <span ><i class="fa fa-search" aria-hidden="true"></i></span>
                <input class="search-input" type="search" placeholder="" />
                <button id="search-button">Search</button>
              </div>
        
              <button id="register-button"   type="button"
              class="register-btn btn-outline-success btn-lg"
             (click)="Register()">Register</button>
            </div>        
  </form>

  
  
  
  
  
  
  
